body {
  background: green;
  color: #fff;
  font-size: large;
  display: flex;
  justify-content: center;
}

.test {
  color: hotpink;
  background-color: khaki;
}

.fork {
  color: rgb(206, 113, 206);
}
